/* style={{border:"none",backgroundColor:"transparent",color:"blue",cursor:"pointer"}} */
.buttonfilter{
    border:solid 2px #307196;
    border-radius: 9999px;
    background-color:transparent;
    /* background: #307196; */
    cursor:pointer;
    margin-bottom: 1vh;
    color: #307196;
    font-weight: bold;
}
.buttonfilter:hover{
    background-color: #307196;
    color: white;

}