.divbutton {
  display: flex;
  justify-content: start;
  padding: 0 0.4rem;
  align-items: center;
  text-align: start;
}
.divbutton p {
  margin: 0.3vh 0vw;
  margin-left: 0.5vw;
}
.icon {
  color: #000000;
  box-sizing: border-box;
  border-radius: 0 1rem 1rem 0;
  height: 4vh;
  width: 9vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
