.menu{
    text-align:end;
    border-radius: 0  1rem 1rem 0;
    height: 4vh;
    border: none;
    background-color: transparent;

}
.divbutton{
    display: flex;
    justify-content: space-between;
    padding:0 0.4rem;
    align-items:center;
    text-align:end;
}
.icon{
    color: #000000;
    box-sizing: border-box;
    border-radius: 0  1rem 1rem 0;
    height: 4vh;
    width: 9vh;
    display: flex;
    justify-content: center;
    align-items: center;

}
    /* background-color: #c2c1c1; */
.buttonBar{
    border: none;
    background-color: transparent;
}

.buttonOut{
    border: none;
    background:#307196;
    color: white;
    border-radius: 0  1rem 1rem 0;
    height: 4vh;
    
}
.generalModalDiv{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background: rgba(50,50,50,0.2);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    z-index: 40;

}
.modalDiv{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 45vw;
    height: 50vh;
    background: white;
    border: 1px solid black;
    border-radius: 15px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    z-index: 60;
}
.sendButton{
    width: 9vw;
    height: 4vh;
    background: transparent;
    border-radius: 9999px;
    border: solid 2px #307196;
    color: #307196;
    font-weight: bold;
    margin-top: 2vh;
    margin-bottom: 2vh;
    cursor: pointer;
}